streamlit
numpy
pandas # Make sure the pandas version matches your environment
pymupdf  # For PDF text extraction (fitz)
nltk
scikit-learn
reportlab  # For generating PDF reports (if applicable)
beautifulsoup4  # For parsing HTML with Beautiful Soup
requests  # For making HTTP requests
matplotlib  # For plotting (use as plt in code)
seaborn
openai


